.title2 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: transparent;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 40%;
  margin: 0;
}
