.btn {
  background-color: #f9db35;
  border: none;
  width: 15em;
  height: 3em;
  border-radius: 10px;
  margin-left: 30%;
  font-family: Sintony;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}
